**/cypress/videos/**/*.*
**/cypress/screenshots/**/*.*
addon.zip
visu.zip
RiaAttributeBuildHelper.exe
RiaAttributeBuildHelper.pdb
/MCC.V1.0/_UpgradeReport_Files
/MCC.V1.0/Backup
/MCC.V1.0/1PL/HTML/polymer.json
/MCC.V1.0/Build
*.xap
*.user
*.suo
*.docstates
obj/
.idea/
.vs/
packages/
_ReSharper*/
log/
Generated_Code/
/SourceBackup/
*.Cache
*.cash
Thumbs.db
*cache.dat
.cache-loader/
.sonarqube/

*.tmp
*.ide
*.obj
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
node/node_modules*/
node/build*/
*.lib
*.sbr
[Rr]elease*/
[Tt]est[Rr]esult*

mobilescoutWinCE.cab

AssemblyFileVersionInfo.cs
AssemblyGitVersion.cs
version.js

/Tools/MiniEditor/Binary/AvalonDock.pdb
/Tools/MiniEditor/Binary/AvalonEdit.pdb
/Tools/MiniEditor/Binary/ICSharpCode.AvalonEdit.pdb
/Tools/MiniEditor/Binary/ICSharpCode.AvalonEdit.xml

*MCC_BackupSource*.zip
*.zip
*.7z
/MCC.V1.0/2Services/Windows/TestServiceConsoleHost/Properties/launchSettings.json

/HTML/.vscode/
/HTML/communication-address.js
/HTML/build/
/HTML/node_modules/
/HTML/dist/
/HTML/addons/config.json
/HTML/MCC-win32-x64/
/HTML/3d/*
launchSettings.json
/MlogAddons/demo3dextension/libs/MCC.MlogData.dll
/MlogAddons/demo3dextension/libs/MlogElementConfig.json
/MlogAddons/demo3dextension/libs/MCC.MlogData.dll*
.vscode/launch.json
/.DS_Store


#generated code in HTML
/HTML/src/api/CombineCss.ts
/HTML/src/api/CommonApi.ts
/HTML/src/api/DispatcherApi.ts
/HTML/src/api/DtoTypeInfos.js
/HTML/src/api/MfcApi.ts
/HTML/src/api/VisuApi.ts
/HTML/src/api/WmsApi.ts
/HTML/src/api/typescripttypes

/HTML/src/customers/*/*AdditionalTypeInfos.js

/MCC.V1.0/temp
/MCC.V1.0/MCC.STADA.IDOCSender
/ConfigBackup
